name: Fetch Updates

on:
  schedule:
    - cron: '*/5 * * * *' # Runs every 5 minutes

jobs:
  fetch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Fetch from Origin
        run: git fetch origin
